html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
  }
img{
    max-width: 520px;
    /* display: flex;   */
};
/* .gallary{
list-style: none;
}; */

.itemImage{
    /* list-style: none; */
    display: flex;
};

#validation-input {
    border: 3px solid #bdbdbd;
  }
  
  .valid {
    border-color: #4caf50;
  }
  
  .invalid {
    border-color: #f44336;
  }


